---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% for category in site.publication_category %}
  {% assign cat_key = category[0] %}
  {% assign cat_title = category[1].title %}
  {% assign filtered_posts = site.publications | where: "category", cat_key %}
  {% if filtered_posts != empty %}
    <h2>{{ cat_title }}</h2>
    <hr />
    {% for post in filtered_posts %}
      {% include archive-single.html post=post %}
    {% endfor %}
  {% endif %}
{% endfor %}
